
<div>asassdasd</div>

{% schema %}
  {
    "name": "Test Section",
    "settings": [],
    "presets": [
    {
    "name": "Welcome section Test",
    "category": "ADVANCED LAYOUT"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
